section{
  position: relative;
  height: 100svh;
  width: 100%;
}

.left-side{
  padding: .5rem .5rem 0;
}
.right-side{
  padding: 0 .5rem .5rem;
}

.left-side{
  background-color: var(--dgray);
}

.right-side{
  background-color: var(--white);
}

@media screen and (min-width:1200px){
  section{
    position: absolute;
    height: 100svh;
    width: 50svw;
  }

  .left-side{
    left: 0;
    padding: 2rem 0 2rem 2rem;
  }

  .right-side{
    right: 0;
    padding: 2rem 2rem 2rem 0;
  } 
}
