@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

:root{
  --roboto: "Roboto", Arial, Helvetica, sans-serif;
  --cormorant: "Cormorant", serif;

  --base-font-size:16px;
  --font-sm: clamp(0.7rem, -0.05vi + 0.71rem, 0.67rem);
  --font-base: clamp(0.88rem, 0.2vi + 0.82rem, 1rem);
  --font-md: clamp(1.09rem, 0.65vi + 0.93rem, 1.5rem);
  --font-lg: clamp(1.37rem, 1.41vi + 1.01rem, 2.25rem);
  --font-xl: clamp(1.71rem, 2.67vi + 1.04rem, 3.38rem);
  --font-xxl: clamp(2.14rem, 4.68vi + 0.97rem, 5.06rem);
  --font-xxxl: clamp(2.67rem, 7.88vi + 0.7rem, 7.59rem);

  --gapHalf: calc(var(--gap) / 2);
  --gap: clamp(1rem, -0.2vi + 0.85rem, 2rem);
  --gap2x: calc(var(--gap) * 2);
  --gap3x: calc(var(--gap) * 3);
  --gap4x: calc(var(--gap) * 4);

  --ease:cubic-bezier(.81,.14,.53,.74);

  --text-default:#333333;
  --bg1:#fff7f8;
  --bg2:#B9C4CA;
  --lgray:#979397;
  --dgray:#2D2D2D;
  --white:#FFF;
  --black:#000;
  --ghost:#ffffff20;
  --pri-red:#DB6E80;
  --solid-red:#A71E22;
  --pri-purple:#BF96C5;
  --pri-blue:#75C1EC;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body{
  position: relative;
  font-family: var(--roboto);
  font-size: var(--font-base);
  color: var(--text-default);
}

main{
  min-width: 100%;
  min-height: 100svh;
  background-color: var(--black);
}

h1,h2,h3,h4,h5,h6{
  margin-top: var(--gap);
  margin-bottom: var(--gap2x);
  font-family: var(--cormorant);
  font-weight: 300;
  color: inherit;
  line-height: 1;
  span{
    font-size: 70%;
    font-weight: 200;
    font-family: var(--roboto);
  }
}

p,a{
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: var(--font-base);
  font-weight: 400;
  color: inherit;
  line-height: 1.5;
  span{
    font-size: inherit;
  }
}

em,u{
  font-size: inherit;
  font-weight: inherit;
  font-style: italic;
}
u{
  font-style: normal;
  text-decoration: underline;
}

h1,
.header-1{
  font-size: var(--font-xxxl);
}
h2,
.header-2{
  font-size: var(--font-xxl);
}
h3,
.header-3{
  font-size: var(--font-xl);
}
h4,
.header-4{
  font-size: var(--font-lg);
}
h5,
.header-5{
  font-size: var(--font-md);
}
h6,
.header-6{
  font-size: var(--font-base);
}

main{
  position: relative;
  width: 100%;
  height: auto;
  isolation: isolate;
}