@import "tailwindcss";

@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.container{
  width: 100%;
  height: 100%;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  height: 100%;
  color: var(--white);
}

.container{
  width: 100%;
  max-width: initial;
}

.left-side .container{
  padding: .5rem .5rem 0;
  background-image: linear-gradient(180deg, var(--pri-red), var(--pri-blue));
}

.left-side .content{
  background-color: var(--dgray);
  grid-template-columns: 1fr 30rem 1fr;
}

.left-side h1{
  margin-top: 0;
  text-align: center;
}

.left-side p{
  text-align: center;
  margin-bottom: 2rem;
}

.left-side .works-btn{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  bottom: 3rem;
  left: 2rem;
  width: calc(100% - 4rem);
  font-size: var(--font-sm);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  z-index: 2;
}

.sub-header{
  display: none;
}

.cta{
  position: relative;
  display: block;
  margin: .5rem 0 0;
  width: 100%;
  height: 3rem;
  border-radius: 100vmax;
  text-align: center;
  isolation: isolate;

  span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    border: solid .25rem var(--white);
    background-color: var(--dgray);
    border-radius: inherit;
  }
  
  &::before,
  &::after{
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--gradient-angle), var(--pri-red), var(--pri-blue), var(--pri-purple), var(--pri-red));
    border-radius: inherit;
    inset: 0;
    z-index: -1;
  }

  &::after{
    opacity: 0;
    filter: blur(10px);
    transition: opacity .5s ease;
  }

  &:hover::before,
  &:hover::after{
    animation: rotateBorder 2s var(--ease) infinite;
  }
  &:hover span{
    border: solid .25rem transparent;
    inset: .25rem;
  }

  &:hover::after{
    opacity: .5;
  }
}

@keyframes rotateBorder{
  0% { --gradient-angle: 0deg;}
  100% { --gradient-angle: 360deg;}
}

.left-side .contact-me{
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: center;
  gap:.5rem;
}

.right-side .container{
  position: relative;
  padding: 0 .5rem .5rem;
  background-color: var(--solid-red);
}

.right-side .content{
  padding: 0 .5rem;
  background-color: var(--white);
}

.right-side .works-caption{
  display: none;
}

.right-side .btn-totop{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  background-color: var(--pri-red);
  color: var(--white);
  border-radius: 100vmax;
  box-shadow: 0 .5rem .5rem #00000055;

  z-index: 2;
}

@media screen and (min-width:1200px){
  .left-side,
  .right-side{
    isolation: isolate;
    overflow: hidden;
    transition: width .5s var(--ease);
  }

  .left-side .content{
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .left-side .content *:not(.sub-header,img){
    opacity: 1;
    transition: opacity .3s .2s var(--ease);
  }

  .left-side .container{
    padding: .5rem 0 .5rem .5rem;
  }

  .left-side h1{
    align-self: end;
    grid-column: 2 / 2;
  }

  .left-side p{
    margin-bottom: 1rem;
  }

  .left-side div{
    align-self: start;
    grid-column: 2 / 2;

    p:last-child{
      margin-top: var(--gap2x);
    }

    p{
      text-align: left;
    }
  }

  .left-side h1{
    text-align: left;
  }

  .left-side .works-btn{
    display: none;
  }

  .right-side .container{
    padding: .5rem .5rem .5rem 0;
  }

  .right-side .content{
    padding: 0 0 0 2rem;
  }

  .right-side .content *{
    filter: blur(10px) grayscale(100%);
    opacity: .7;

    transition-property: opacity filter;
    transition-duration: .5s;
    transition-timing-function: var(--ease);
  }

  .right-side .btn-totop{
    display: none;
  }

  .sub-header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:calc(50% - 2svw);
    right: -5svw;
    width: 4svw;
    height: 4svw;
    opacity: 0;

    transition-property: opacity right;
    transition-duration: .3s;
    transition-timing-function: var(--ease);
  }

  .sub-header img{
    width: 100%;
  }

  .left-side:has(+ .right-side.active){
    width: 10svw;
    .content *:not(.sub-header,img){
      opacity: 0;
    }
    .sub-header{
      opacity: 1;
      right: 2svw;
    }
  }

  .right-side:not(.active) .card{
    background-color: var(--dgray);
  }

  .right-side .works-caption{
    position: absolute;
    top:calc(50% - 5rem);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    color: #000;
    isolation: isolate;
    z-index: 2;

    transition-property: opacity left;
    transition-duration: .3s;
    transition-timing-function: var(--ease);

    &::after{
      content: '';
      display: block;
      position: absolute;
      width: 60%;
      height: 100%;
      opacity: .6;
      z-index: -1;
    }
    
    h3{
      margin: 0 0 .5rem;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 1rem rgb(0,0,0,.7);
      span{
        font-weight: 500;
      }
    }
    p{
      margin: 0;
      text-align: center;
      font-weight: 500;
      color: #fff;
      text-shadow: 0 0 1rem rgb(0,0,0,.8);
    }
  }

  .right-side.active{
    width: 90svw;
  }

  .right-side.active .content *{
    opacity: 1;
    filter: blur(0) grayscale(0);
  }

  .right-side.active .works-caption{
    opacity: 0;
    left: -100%;
  }
  
}
